.home {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 40px);
        ul {
            text-align: center;
            padding: 20px;
            width: 200px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.5);
        }
        li {
            line-height: 2;
        }
    }
}
